.app-intro {
    border: thick double black;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__media {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;
       background: rgb(145, 165, 221) url(../img/1.jpg) no-repeat center center;
       background-size: cover;
       &_video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
       }
    }
}