@font-face {
    font-family: "Maler";
    src: url(../fonts/Maler.ttf);
}

@font-face {
    font-family: "Oswald 700";
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: "Oswald 400";
    src: url(../fonts/Oswald-Regular.ttf);
}

*{
    margin: 0;
}

.light-theme{
    --header-background: rgb(187, 184, 184);
    --header-color: #000000; 
}

.dark-theme{
    --header-background: #121212;
    --header-color: #FFFFFF; 
}
