@font-face {
    font-family: "Maler";
    src: url(../fonts/Maler.ttf);
}

@font-face {
    font-family: "Oswald 700";
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: "Oswald 400";
    src: url(../fonts/Oswald-Regular.ttf);
}

*{
    margin: 0;
}
